<section id="about" class="about">
    <div class="container">
        <h2>Sobre o Projeto</h2>
        <p>O Sistema de Mapeamento de Escolas Públicas de Maracanaú é uma iniciativa para centralizar e disponibilizar informações cruciais sobre as instituições de ensino da cidade. Nosso objetivo é promover a transparência, facilitar o acesso a dados relevantes e incentivar a participação cívica na melhoria da educação local.</p>
        <p>Com esta plataforma, cidadãos, pais, alunos e gestores poderão visualizar a localização das escolas, consultar dados cadastrais, informações de contato, número de alunos, e muito mais. Além disso, a ferramenta permitirá que os usuários forneçam feedback, contribuindo diretamente para o aprimoramento contínuo das escolas.</p>
    </div>
</section>